@charset "ISO-8859-1";
body{
	background-color: #ebe8e8;
}
.wrapper1{
	
	display:flex;
	position:relative;	
}
.b{
	margin-top:40%;
}


.wrapper1 .sidebar1{
	position:fixed;
	width:120px;
	height:300%;
	background:#006478;
	display:block;
	left: 0px;
	top : 0px;
	z-index: 0;
	
}
.wrapper1 .sidebar1 ul{
	padding: 0;
	margin: 0;
}
.wrapper1 .sidebar1 ul li{
	padding-bottom:20px;
	border-bottom:1px solid rgba(0,0,0,0.05);
	border-top:100px;
	list-style:none;
	padding-top : 40px;	
	padding-left:12px;
}

.wrapper1 .sidebar1 ul li a{
	text-decoration:none;
	font-family: Verdana;
	color: white;
	font-weight: bold;
}
.wrapper1 .sidebar1 ul li:hover{
	background: #00aacc;
		
}


.img1{
	width:120px;
	height:100px;
}

.img1-div{
	width:130px;
	height:120px;
}

.title{
	text-align: center;
	font-size: 50px;
	font-family: Verdana;
	background-color: #006478;
	height:100px;
	color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	right:0px;
	position: fixed;
	
}

.title-text {
	font-family: Verdana;
	color: white;
	padding-top: 20px;
	margin: 0;
	font-size: 35px;
	
	
}

.footer .footer-bottom{
	background: #006478;
	font-size:12px;
	font-family: Verdana;
	color: white;
	height: 20px;
	width: 100%;
	text-align :center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	position: fixed;

}

h2 {
  text-align: center;
  padding: 12px;
  font-size: 60px;
  text-transform: uppercase;
  color: #400000;
}